.tweet-page{
    padding-left: 50px;
    padding-right: 50px;

    .text-area{
        width: 30%;
        height: 20vh;
        padding: 20px;
        resize: none;
        border-radius: 10px;
    }

}